@{
    ViewBag.Title = "Contact";
}
<h2 style="color:seagreen;">UCL Contact</h2>


<address style="color:seagreen;">
    University College London,<br />
    Gower Street,<br />
    London, WC1E 6BT<br />
    <abbr title="Phone">P:</abbr>
       +44 (0) 20 7679 2000
</address>

