@{
    ViewBag.Title = "UCL Management";
}

<div  class="jumbotron">
    
    <h1 style="color:darkseagreen;">University College London</h1>
    <p style="color:seagreen;" class="lead">UCL is the number one London university for Research Strength (REF2014), recognised for its academic excellence and global impact.</p>
    <p><a href="https://www.ucl.ac.uk/" target="_blank" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

